<% unless @one_ethereum.empty? %>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <span><%= t('.one') %></span>
    </div>
    <%= render partial: 'table', locals: {ethereum: @one_ethereum} %>
  </div>
<% end %>
<% unless @all_ethereum.empty? %>
  <div class="panel panel-success">
    <div class="panel-heading">
      <span><%= t('.all') %></span>
    </div>
    <%= render partial: 'table', locals: {ethereum: @all_ethereum} %>
  </div>
<% end %>

<% if @all_ethereum.empty? and @one_ethereum.empty? %>
  <h3 class="text-info text-center"><%= t('.empty') %></h3>
<% end %>
