<div class="title text-white">
  <h1><%= t('slogan.heading') %></h1>
  <h3><%= t('slogan.subheading') %></h3>
  <p><%= t('slogan.text1') %></p>
  <p><%= t('slogan.text2') %></p>
</div>
  <div class="row" id="getstart">
    <% unless current_user %>
      <% offset = 8 %>
      <% offset -= 2 if ENV['GOOGLE_OAUTH2_SIGN_IN'] %>
      <% offset -= 2 if ENV['AUTH0_OAUTH2_SIGN_IN'] %>

      <div class="buttons">
        <%= link_to t('header.signin'), signin_path, class: 'btn btn-light m-1' %>
        <%= link_to t('header.signup'), signup_path, class: 'btn btn-light m-1' %>
      </div>

      <% if ENV['GOOGLE_OAUTH2_SIGN_IN'] %>
        <div class="col-xs-5">
          <a class="btn btn-primary btn-lg btn-block" href="/auth/google_oauth2" role="button"><%= t('header.sign_in_with_google') %></a>
        </div>
      <% end %>

      <% if ENV['AUTH0_OAUTH2_SIGN_IN'] %>
        <div class="col-xs-4">
          <a class="btn btn-primary btn-lg btn-block" href="/auth/auth0" role="button"><%= t('header.sign_in_with_auth0') %></a>
        </div>
      <% end %>

    <% else %>
      <div class="col-xs-6 col-xs-offset-9 text-center">
        <a class="btn btn-primary btn-lg btn-block" href="<%= market_path(current_market) %>" role="button"><%= t('header.getstart') %></a>
        <a class="btn btn-primary btn-lg btn-block" href="<%= settings_path %>" role="button"><%= t('header.settings') %></a>
      </div>
    <% end %>
  </div>
