<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="/favicon.ico" rel="shortcut icon" />

    <%= stylesheet_link_tag 'application', media: 'all' %>

    <%= include_gon %>
    <%= javascript_include_tag "locales/#{I18n.locale}" %>
    <%= javascript_include_tag 'application' %>

    <%= yield(:scripts) if content_for?(:scripts) %>

    <%= render 'shared/meta' %>
    <%= csrf_meta_tags %>
  </head>

  <body data-lang="<%= locale_name %>">
    <%= render('shared/header') %>

    <div id="particles"></div>
    <%= render 'shared/alert' %>

    <div class="main container">
      <%= yield %>
    </div>

    <div id="push"></div>
  </body>
</html>
